.add-new-card-content {
  width: 100%;
  min-height: 160px;
  border: 1px dotted rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: grid;
  place-content: center;
}


.input-area {
  margin-bottom: 20px;
}


.heading-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
