.form-btn {
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  background-color: #F8BD1C;
  display: grid;
  place-content: center;
  margin-top: 40px;

  input {
    color: #fff;
  }
}



.dropdown-content {
  display: none;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}